<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">

    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>

    <!-- Thêm cấu hình servlet dưới đây -->
    <servlet>
        <servlet-name>placeController</servlet-name>
        <servlet-class>controller.placeController</servlet-class>
        <multipart-config>
            <max-file-size>5242880</max-file-size>        <!-- 5MB mỗi file -->
            <max-request-size>20971520</max-request-size> <!-- 20MB tổng request -->
            <file-size-threshold>0</file-size-threshold>
        </multipart-config>
    </servlet>
    <servlet-mapping>
        <servlet-name>placeController</servlet-name>
        <url-pattern>/placeController</url-pattern>
    </servlet-mapping>

</web-app>